@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:ital,wght@0,300;1,700&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Alfa Slab one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    clear: right;
    font-size: 280%;
    margin-left: 30px;
    /* color: rgba(236, 42, 39, 0.8); */
    
    
}

/* .clearfix {
    overflow: auto;
} */

#tag-line {
    font-size: 150%;
    margin-left: 30px;
    float: left;
    position: relative;
    clear: both;
    
}

/* #header-background {
    background-color: rgb(36, 57, 84);
    width: 100%;
    height: 80px; 
    position: fixed;
} */

nav {
    margin-bottom: 40px;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    top: 50px;
}

#nav-menu, #logo {
    line-height: 75px;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
   
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/sugar-plantation.jpeg') no-repeat center center;
}

#types-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
   
    position: relative;
}

#types-image {
    height: 600px;
    width: 100%;
    background: url('../images/Rum-types-hero.jpg') no-repeat center center;
}

#drinks-image {
    height: 600px;
    width: 100%;
    background: url('../images/rum-cocktail-hero.jpg') no-repeat center center;
    
}

#cover-text {
    font-size: 5.5vw;
    font-family: Alfa Slab one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    width: 60%;
    text-align: center;
    padding: 80px;
    margin: 0 auto;
    background-color: rgba(236, 42, 39, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#type-cover-text {
    font-size: 5.5vw;
    font-family: Alfa Slab one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    width: 60%;
    text-align: center;
    padding: 80px;
    margin: 0 auto;
    background-color: rgba(236, 42, 39, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#drinks-cover-text {
    font-size: 5.5vw;
    font-family: Alfa Slab one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    width: 60%;
    text-align: center;
    padding: 80px;
    margin: 0 auto;
    background-color: rgba(236, 42, 39, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#history-heading {
    font-size: 500%;
    margin-top: 30px;
}

#history-block {
    width: 66%;
    margin-left: 30px;
    
}

#history-text-body {
    padding: 30px 30px;
    column-count: 3;

}

/* types of rum */

/* #tpyes-container {
    height: 800px;
    clear: both;
} */

#types-heading {
    clear: both;
    padding: 50px 0 40px 30px;
    font-size: 500%;
}

#rum-types {
    margin-left: 30px;
    float: left;
    width: 40%;
}

#rum-images {
    clear: right;
}

.rum {
    /* #float: left; */
    /* clear: both; */
}

#rum-text {
    /* width: 40%; */
    padding: 25px 50px 60px 30px;
    /* column-count: 2; */
}


#rum-container {
    width: 180px;
    height: 180px;
    /* padding-bottom: 15px; */
    /* border-style: solid;
    border-color: #ccc;
    border-width: 2px; */
    border-radius: 50%;
    /* margin: 0 auto;  */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center
}
    


img{
    /* max-width: 100%; */
    max-height: 100%;
    display: block; 

    
    
}

/* #rum-cover {
    background: url('../images/rum.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    padding-bottom: 15px;
}
   

#ron-cover {
    background: url('../images/ron.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}

#rhum-cover {
    background: url('../images/rhum.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
} */

/* Drinks */


#image-cocktail-1 {
    height: 900px;
    padding-left: 30px;
    padding-bottom: 20px; 
    width: 40%;
   
   
}

#recipe-heading {
    float: right;

}

#recipe-cocktail-1 {
    padding-left: 30px;
    width: 35%;
    clear: both;
}

#recipe-cocktail-1 h2 {
    padding-bottom: 30px;
    font-size: 180%;
    /* text-decoration: underline; */
}

ul {
    padding-left: 30px;
}

/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: right;
}

.social-networks > li {
    display: inline;
}

.social-networks .fab {
    font-size: 160%;
    margin: 1%;
    padding: 4% 2%;
    color: #3a3a3a;
}