@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:ital,wght@0,300;1,700&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Alfa Slab one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    clear: right;
    font-size: 280%;
    margin-left: 30px;
    /* color: rgba(236, 42, 39, 0.8); */
    
    
}

/* .clearfix {
    overflow: auto;
} */

#tag-line {
    font-size: 150%;
    margin-left: 30px;
    float: left;
    position: relative;
    clear: both;
    
}

/* #header-background {
    background-color: rgb(36, 57, 84);
    width: 100%;
    height: 80px; 
    position: fixed;
} */

nav {
    margin-bottom: 40px;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    top: 50px;
}

#nav-menu, #logo {
    line-height: 75px;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
   
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: url('../images/sugar-plantation.jpeg') no-repeat center center;
}

#cover-text {
    font-size: 5.5vw;
    font-family: Alfa Slab one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    width: 60%;
    text-align: center;
    padding: 80px;
    margin: 0 auto;
    background-color: rgba(236, 42, 39, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#history-heading {
    font-size: 35px;
    margin-top: 30px;
}

#history-block {
    width: 66%;
    margin-left: 30px;
    
}

#history-text-body {
    padding: 30px 30px;
    column-count: 3;

}

/* types of rum */

#types-heading {
    clear: both;
    padding: 50px 0 40px 30px;
}



footer {
    height: 100px;
    float: left;
    width: 33%;
}

.social-networks {
    /* text-align: center; */
}

.social-networks > li {
    display: inline;
}

.social-networks .fab {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}