@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:ital,wght@0,300;1,700&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #3a3a3a;
}


/* headings and logo */

h1,
h2,
h3 {
    font-family: Alfa Slab one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    clear: right;
    font-size: 280%;
    margin-left: 30px;
}

#tag-line {
    font-size: 150%;
    margin-left: 30px;
    float: left;
    position: relative;
    clear: both;
}


/* navigation bar */
/* The code that makes the navigation bar was taken from the CI [Love Running](https://github.com/Code-Institute-Solutions/love-running-2.0-sourcecode) project. */

nav {
    margin-bottom: 40px;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    top: 50px;
}

#nav-menu,
#logo {
    line-height: 75px;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/sugar-plantation.jpeg') no-repeat center center;
}

#types-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#types-image {
    height: 600px;
    width: 100%;
    background: url('../images/Rum-types-hero.jpg') no-repeat center center;
}

#drinks-image {
    height: 600px;
    width: 100%;
    background: url('../images/rum-cocktail-hero.jpg') no-repeat center center;
}


/* text overlay hero image */
/*  The code for the text overlay on top of the hero images was taken from W3Schools [How TO - Cutout Text](https://www.w3schools.com/howto/howto_css_cutout_text.asp)  tutorial. */

#type-cover-text {
    font-size: 5.5vw;
    font-family: Alfa Slab one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    width: 60%;
    text-align: center;
    padding: 80px;
    margin: 0 auto;
    background-color: rgba(236, 42, 39, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#history-heading {
    font-size: 500%;
    margin-top: 30px;
    margin-left: 30px;
}

#history-text-body {
    width: 66%;
    padding: 30px 30px 80px 60px;
    column-count: 3;
}


/* types of rum */

#types-heading {
    clear: both;
    padding: 50px 0 40px 30px;
    font-size: 500%;
}

#rum-types {
    margin-left: 30px;
    width: 60%;
    height: 100%;
}

.rum {
    margin-top: 20px;
    width: 95%;
    display: inline-block;
}

.rum p {
    padding: 25px 50px 60px 30px;
    width: 50%;
    float: left;
}

.rum img {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/* Drinks */

#image-cocktail-1 {
    padding-left: 30px;
    padding-bottom: 20px;
    width: 43%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

#recipe-heading {
    padding-bottom: 80px;
}

#recipe-cocktail-1 {
    padding-left: 30px;
    width: 35%;
    clear: both;
}

#recipe-cocktail-1 h2 {
    padding-bottom: 30px;
    font-size: 180%;
}

ul {
    padding-left: 30px;
}

ol {
    padding-left: 30px;
}


/* newsletter */

.newsletter-section {
    position: relative;
    bottom: 0;
}

.newsletter {
    max-width: 630px;
    width: 100%;
    position: relative;
}

.newsletter-form {
    padding-top: 50px;
}

.newsletter .text-input {
    width: 40%;
    padding: 15px 80px;
    background: #c9c8c8;
    border-radius: 15px;
}

.sub-button {
    right: 30px;
    background: #252525;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
}

.sub-button:hover {
    background-color: #fafafa;
    color: #252525;
    border: 2px solid #252525;
}

form {
    padding: 50px 0 10px 30px;
    position: absolute;
}

/* Footer */
/* The code that makes the social media links was taken from the CI [Love Running](https://github.com/Code-Institute-Solutions/love-running-2.0-sourcecode) project. */

footer {
    height: 150px;
}

.social-networks {
    text-align: right;
    width: 40%;
    float: right;
    padding-top: 50px;
}

.social-networks>li {
    display: inline;
}

.social-networks .fab {
    font-size: 160%;
    margin: 1%;
    padding: 4% 2%;
    color: #3a3a3a;
}

/* media queries */

/* For large to medium screens size form 1200px wide and down */

@media screen and (max-width: 1200px) {
    #history-text-body {
        width: 66%;
        padding: 30px 30px 80px 60px;
        column-count: 2;
    }

    #rum-types {
        margin-left: 30px;
        width: 90%;
        height: 100%;
    }

    #recipe-cocktail-1 {
        text-align: left;
        width: 50%;
    }


    .newsletter {
        max-width: 630px;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #logo {
        float: none;
        clear: right;
        font-size: 231%;
        margin-left: 30px;
        line-height: 50px;
    }

    #history-text-body {
        width: 75%;
        padding: 20px 20px 70px 50px;
        column-count: 1;
    }

    #nav-menu {
        font-size: 92%;
        letter-spacing: 4px;
        float: left;
        top: 50px;
        line-height: 50px;
        padding-left: 30px;
    }

    #tag-line {
        font-size: 71%;
    }

    #history-heading {
        font-size: 353%;
    }

    .social-networks .fab {
        padding: 7%;
    }

    .social-networks {
        text-align: center;
        padding-top: 0;
        width: 100%;
        float: none;
    }

    ul {
        padding: 0;
    }

    form {
        padding: 0;
        position: relative;
        text-align: center;
    }

    .sub-button {
        margin: 10px
    }

    #types-heading {
        font-size: 260%;
    }

    #image-cocktail-1 {
        padding-left: 0;
        padding-bottom: 20px;
        width: 100%;
        height: auto;
    }

    img {
        max-height: 60%;
        display: block;
    }

    #recipe-cocktail-1 {
        text-align: left;
        width: auto;
        padding-right: 30px;
    }

    .rum p {
        padding: 10px 0px;
        width: auto;
        float: left;
    }

    .rum img {
        float: none;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        padding: 30px;
    }
}

/* For medium screen sizes from 350px wide and down */
@media screen and (max-width: 350px) {


    #nav-menu li {
        float: left;
        list-style-type: none;
        margin-right: 10px;
    }

    #types-heading {
        font-size: 204%;
    }

    #background-header,
    #tag-line {
        width: 60%;
    }
}